.button {
  width: 100px;
  height: 40px;
  padding: 7px 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.2),
    4px 4px 6px rgba(0, 0, 0, 0.288);
  color: #fff;
}

.button:hover {
  box-shadow: -5px -5px 8px rgba(79, 122, 233, 0.2),
    4px 4px 6px rgba(89, 162, 235, 0.288);
}

.profile {
  box-shadow: -3px -4px 8px rgba(157, 169, 149, 0.2),
    4px 4px 6px rgba(0, 0, 0, 0.288);
}
.about-image {
  width: 40%;
  box-shadow: -3px -4px 8px rgba(157, 169, 149, 0.2),
    4px 4px 6px rgba(0, 0, 0, 0.288);
}
.about-text {
  width: 40%;
}
.card {
  position: relative;
  background: #64748b;
  box-shadow: -5px -5px 8px rgba(157, 169, 149, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.288);
  overflow: hidden;
  padding: 3px;
}
.item {
  position: relative;
  z-index: 2;
}
.card::before {
  content: "";
  position: absolute;
  width: 130%;
  height: 300%;
  top: 90px;
  background: linear-gradient(#16f1db, #acb6e5);
  animation: rotate 4s linear infinite;
}
.card::after {
  content: "";
  position: absolute;
  background-color: #64748b;
  inset: 4px;
  border-radius: 5px;
}
.glow {
  background: #74ebd5; /*for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 0px 5px #acb6e5;
}

.swiper {
  width: 500px;
  height: auto;
}

.box {
  box-shadow: -5px -5px 8px rgba(157, 169, 149, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.288);
}

@media only screen and (max-width: 650px) {
  .swiper {
    width: 350px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
